<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='sqli_tkMapper.html')}"></div>

        <main role="main" class="col-md-10 ml-sm-auto pt-3 px-4">
            <div class="vul_header">
                <span>SQL Injection - tkMapper组件</span>
            </div>
            <hr>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#aa"><span class="lnr lnr-bug"></span>
                        漏洞描述</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bb"><span class="lnr lnr-bullhorn"></span> 安全编码</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane dec shadow-sm p-3 mb-4 rounded active" id="aa">
                    SQLI(SQL Injection)，
                    SQL注入是因为程序未能正确对用户的输入进行检查，将用户的输入以拼接的方式带入SQL语句，导致了SQL注入的产生。攻击者可通过SQL注入直接获取数据库信息，造成信息泄漏。<br>
                    tkMapper是一个MyBatis插件，是在MyBatis的基础上提供的开发工具。tkMapper提供了代码生成器、对象关系映射、Example等多种功能，其中可能存在SQL注入的地方主要是在Example中。
                    Example提供了多种用于构造查询条件的方法，SQL注入风险也主要产生于这些方法中。
                </div>
                <div class="tab-pane fade" id="bb">
                    <textarea disabled="disabled" class="form-control shadow-sm p-3 mb-5 rounded" id="coder"
                              style="height: 180px;">
【必须】SQL语句默认使用预编译并绑定变量
 Web后台系统应默认使用预编译绑定变量的形式创建sql语句，保持查询语句和数据相分离。以从本质上避免SQL注入风险。

【必须】屏蔽异常栈
 应用程序出现异常时，禁止将数据库版本、数据库结构、操作系统版本、堆栈跟踪、文件名和路径信息、SQL 查询字符串等对攻击者有用的信息返回给客户端。建议重定向到一个统一、默认的错误提示页面，进行信息过滤。
                    </textarea>
                </div>
            </div>

            <hr>

            <div class="box-float">
                <div class="float1">
                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/tkMapper/vul/andCondition?user=mechoy'))union+select+1,user(),3--+">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - andCondition 错误使用</span></h5>

                    <label for="code1"></label><textarea class="form-control" id="code1">
// andCondition(String condition)
// andCondition(String condition, Object value)
// andCondition(String condition)采用了字符串拼接的形式，当使用不正确时会造成SQL注入风险

@GetMapping("/vul/andCondition")
public List<Users> queryApply(@RequestParam("user") String user) {
    Example example = new Example(Users.class);
    Example.Criteria criteria = example.createCriteria();
    criteria.andCondition("user=" + "'" + user + "'");
    return tkUserMapper.selectByExample(example);
}

                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/tkMapper/vul/orCondition?user=mechoy'))union+select+1,user(),3--+">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - orCondition 错误使用</span></h5>
                    <label for="code2"></label><textarea class="form-control" id="code2">
// orCondition(String condition)
// orCondition(String condition, Object value)
// orCondition(String condition)采用了字符串拼接的形式，当使用不正确时会造成SQL注入风险

@GetMapping("/vul/orCondition")
public List<Users> queryOrCondition(@RequestParam("user") String user) {
    Example example = new Example(Users.class);
    Example.Criteria criteria = example.createCriteria();
    criteria.andCondition("id = 1");
    criteria.orCondition("user=" + "'" + user + "'");
    return tkUserMapper.selectByExample(example);
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/tkMapper/vul/setOrderByClause?sort=updatexml(1,concat(0x7e,user(),0x7e),1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - setOrderByClause 错误使用</span></h5>
                    <label for="code6"></label><textarea class="form-control" id="code6">
// setOrderByClause()方法来进行排序
// 排序处无法使用预处理，所以需要严格控制客户端的输入，否则将产生SQL注入风险

@GetMapping("/vul/setOrderByClause")
public List<Users> querySetOrderByClause(@RequestParam("sort") String sort) {
    Example example = new Example(Users.class);
    example.setOrderByClause(sort);
    return tkUserMapper.selectByExample(example);
}
                    </textarea>

                </div>

                <div class="float2">
                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/tkMapper/safe/andCondition?user=mechoy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - andCondition 正确使用</span></h5>
                    <label for="code4"></label><textarea class="form-control" id="code4">
// andCondition(String condition, Object value)采用了预处理的方式传参，故此时是安全的

@GetMapping("/Safe/andCondition")
public List<Users> queryAndConditionSafe(@RequestParam("user") String user) {
    Example example = new Example(Users.class);
    Example.Criteria criteria = example.createCriteria();
    criteria.andCondition("user=", user);
    return tkUserMapper.selectByExample(example);
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/tkMapper/safe/orCondition?user=mechoy'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - orCondition 正确使用</span></h5>
                    <label for="code3"></label><textarea class="form-control" id="code3">
// orCondition(String condition, Object value)采用了预处理的方式传参，故此时是安全的

@GetMapping("/safe/orCondition")
public List<Users> queryOrConditionSafe(@RequestParam("user") String user) {
    Example example = new Example(Users.class);
    Example.Criteria criteria = example.createCriteria();
    criteria.andCondition("id = 1");
    criteria.orCondition("user=", user);
    return tkUserMapper.selectByExample(example);
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/tkMapper/safe/setOrderByClause?sort=user">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - setOrderByClause 正确使用</span></h5>
                    <label for="code5"></label><textarea class="form-control" id="code5">
// 限制客户端的输入内容

@GetMapping("/safe/setOrderByClause")
public List<Users> querySetOrderByClauseSafe(@RequestParam("sort") String sort) {
    Example example = new Example(Users.class);
    if (sort.equals("user")){
        example.setOrderByClause("user");
    } else if (sort.equals("pass")) {
        example.setOrderByClause("pass");
    }else {
        example.setOrderByClause("id");
    }
    return tkUserMapper.selectByExample(example);
}
                    </textarea>

                </div>
            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>