<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='sqli_mybatis_plus.html')}"></div>

        <main role="main" class="col-md-10 ml-sm-auto pt-3 px-4">
            <div class="vul_header">
                <span>SQL Injection - MyBatis-Plus框架</span>
            </div>
            <hr>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#aa"><span class="lnr lnr-bug"></span>
                        漏洞描述</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bb"><span class="lnr lnr-bullhorn"></span> 安全编码</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane dec shadow-sm p-3 mb-4 rounded active" id="aa">
                    SQLI(SQL Injection)，
                    SQL注入是因为程序未能正确对用户的输入进行检查，将用户的输入以拼接的方式带入SQL语句，导致了SQL注入的产生。攻击者可通过SQL注入直接获取数据库信息，造成信息泄漏。<br>
                    MyBatis-Plus框架是对MyBatis框架的增强，所以MyBatis框架中可能存在的SQL注入问题MyBatis-Plus框架中同样存在，此处就不再进行絮聒。而MyBatis-Plus框架SQL注
                    入问题主要是出现在其条件构造器上，当某些条件构造器使用不当的情况时，会出现SQL注入的风险。
                </div>
                <div class="tab-pane fade" id="bb">
                    <textarea disabled="disabled" class="form-control shadow-sm p-3 mb-5 rounded" id="coder"
                              style="height: 130px;">
【必须】SQL语句默认使用预编译并绑定变量
 使用Mybatis作为持久层框架，应通过#{}语法进行参数绑定，MyBatis 会创建 PreparedStatement 参数占位符，并通过占位符安全地设置参数。
 针对order by 注入可以在java层面做映射来进行解决。
                    </textarea>
                </div>
            </div>
            <hr>

            <div class="box-float">
                <div class="float1">
                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/MyBatis/vul/order?field=id&sort=desc,abs(111111)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - apply 使用不当</span></h5>
                    <label for="code1"></label>
                    <textarea class="form-control" id="code1">
// apply()直接拼接sql语句存在sql注入
// apply(String applySql, Object... params)
// apply(boolean condition, String applySql, Object... params)
// 该方法可用于数据库函数 动态入参的params对应前面applySql内部的{index}部分.这样是不会有sql注入风险的,反之会有!

@RequestMapping("/applyvuln")
public Tutorial mybatisapplyvuln(String author,String title) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.eq("author",author).apply("title="+title);
    Tutorial tutorial = tutorialMapper.selectOne(wrapper);
    return tutorial;
}

                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/MyBatis/vul/order?field=id&sort=desc,abs(111111)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - last 使用不当</span></h5>
                    <!--                    <form role="search" th:action="@{/SQLI/MyBatis/vul/search}" method="get" target="_blank">-->
                    <!--                        <div class="input-group mb-3">-->
                    <!--                            <input type="text" class="form-control" name="q"-->
                    <!--                                   value="test%' union select 1,user(),@@version_compile_os&#45;&#45; " style="color: #b5babb">-->
                    <!--                            <div class="input-group-append">-->
                    <!--                                <button class="btn btn-sm btn-danger" type="submit">搜索</button>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </form>-->
                    <label for="code2"></label><textarea class="form-control" id="code2">
// last(String lastSql)
// last(boolean condition, String lastSql)
// 说明：无视优化规则直接拼接到 sql 的最后
// 只能调用一次,多次调用以最后一次为准 ，若相关内容用户可控，则存在sql注入风险

@RequestMapping("/lastvuln")
public List<Tutorial> mybatislastvuln(String column) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.last("order by " + column);
    List<Tutorial> list = tutorialMapper.selectList(wrapper);
    return list;
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/MyBatis/vul/order?field=id&sort=desc,abs(111111)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - exists/notExists 使用不当</span></h5>
                    <label for="code1"></label>
                    <textarea class="form-control" id="code6">
// exists(String existsSql)
// exists(boolean condition, String existsSql)
// notExists(String notExistsSql)
// notExists(boolean condition, String notExistsSql)
// 拼接EXISTX / NOT EXISTS ( sql语句 )
// 若existsSql或notExistsSql中有关内容用户可控，则存在sql注入风险

@RequestMapping("/existsvuln")
public List<Tutorial> mybatisexistsvuln(String title) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.exists("select title from tutorials where title = " + title);
    List<Tutorial> list = tutorialMapper.selectList(wrapper);
    return list;
}

                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/MyBatis/vul/order?field=id&sort=desc,abs(111111)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - having 使用不当</span></h5>
                    <label for="code1"></label>
                    <textarea class="form-control" id="code7">
// having(String sqlHaving, Object... params)
// having(boolean condition, String sqlHaving, Object... params)
// HAVING ( sql语句 ),用于Having查询，一般用配合groupby在对分组统计函数进行过滤的场景中
// 与apply一样，动态入参的params对应前面applySql内部的{index}部分，可以进行预编译防止SQL注入问题

@RequestMapping("/havingvuln")
public List<Tutorial> mybatishavingvuln(String id) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.select().groupBy("author").having("id > " +id);
    List<Tutorial> list = tutorialMapper.selectList(wrapper);
    return list;
}

                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/MyBatis/vul/order?field=id&sort=desc,abs(111111)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - order by 使用不当</span></h5>
                    <label for="code1"></label>
                    <textarea class="form-control" id="code8">
// orderBy(boolean condition, boolean isAsc, R... columns)
// orderByAsc(R... columns)
// orderByAsc(boolean condition, R... columns)
// orderByDesc(R... columns)
// orderByDesc(boolean condition, R... columns)
// 排序：ORDER BY 字段, (ASC/DESC)
// Order by排序时不能进行预编译处理,故相关内容用户可控的话会存在sql注入风险。

@RequestMapping("/orderbyvuln")
public List<Tutorial> mybatishorderbyvuln(String column) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.select().orderBy(true, true, column);
    List<Tutorial> list = tutorialMapper.selectList(wrapper);
    return list;
}

@RequestMapping("/orderbyAscvuln")
public List<Tutorial> mybatishorderbyAscvuln(String column) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.select().orderByAsc(column);
    List<Tutorial> list = tutorialMapper.selectList(wrapper);
    return list;
}

@RequestMapping("/orderbyDescvuln")
public List<Tutorial> mybatishorderbyDescvuln(String column) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.select().orderByDesc(column);
    List<Tutorial> list = tutorialMapper.selectList(wrapper);
    return list;
}

                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/MyBatis/vul/order?field=id&sort=desc,abs(111111)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - group By 使用不当</span></h5>
                    <label for="code1"></label>
                    <textarea class="form-control" id="code9">
// groupBy(R... columns)
// groupBy(boolean condition, R... columns)
// 分组：GROUP BY 字段, ... 主要用于用于结合聚合函数，根据一个或多个列对结果集进行分组
//

@RequestMapping("/gropbycvuln")
public List<Tutorial> mybatishsgropbycvuln(String column) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.select().groupBy(column);
    List<Tutorial> list = tutorialMapper.selectList(wrapper);
    return list;
}

                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/MyBatis/vul/order?field=id&sort=desc,abs(111111)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - insql/notinsql 使用不当</span></h5>
                    <label for="code1"></label>
                    <textarea class="form-control" id="code10">
// inSql(R column, String inValue)
// inSql(boolean condition, R column, String inValue)
// notInSql(R column, String inValue)
// notInSql(boolean condition, R column, String inValue)
// 字段IN / NOT IN ( sql语句 )
// column字段、inValue字段可控的情况下存在注入风险。

@RequestMapping("/insqlcvuln")
public List<Tutorial> mybatisinsqlvuln(String column,String id) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.select().inSql(column,"select id from tutorials where id >" + id);
    List<Tutorial> list = tutorialMapper.selectList(wrapper);
    return list;
}

                    </textarea><br><br>

                </div>

                <div class="float2">
                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/MyBatis/safe/order?field=id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - apply 正确使用</span></h5>
                    <label for="code3"></label><textarea class="form-control" id="code3">
// 使用{index}params进行预编译处理,不存在sql注入

@RequestMapping("/applysec")
public Tutorial mybatisapplysec(String author,String title) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    wrapper.eq("author",author).apply("title={0}",title);
    Tutorial tutorial = tutorialMapper.selectOne(wrapper);
    return tutorial;
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/MyBatis/safe/id/1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - last 内容不可控 </span></h5>
                    <label for="code4"></label><textarea class="form-control" id="code4">
// 在使用last时，应保证last中内容用户不可控，由服务端控制

@RequestMapping("/lastSec")
public List<Tutorial> mybatislastvuln(String column) {
    QueryWrapper<Tutorial> wrapper = new QueryWrapper&lt;&gt;();
    if(column.equals("id")){
       wrapper.last("order by " + column);
    }else{
       wrapper.last("order by " + "name");
    }
    List<Tutorial> list = tutorialMapper.selectList(wrapper);
    return list;
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/MyBatis/safe/query?user=admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - exists/notExists 中内容不可控</span></h5>
                    <label for="code5"></label><textarea class="form-control" id="code5">
// exists/notExists都是直接将内容拼接至SQL语句中
// 所以防止SQL注入应保证exists/notExists中内容客户端不可控
// 或者将传入的内容的类型固定为非字符串的形式

@RequestMapping("/existsSec")
@ResponseBody
public void test(@RequestParam(name = "size", defaultValue = "0") Integer size){
    //创建条件查询器
    QueryWrapper<Users> userQueryWrapper = new QueryWrapper&lt;&gt;();
    //添加条件查询
    userQueryWrapper.last("limit " + size);
    List<Users> users = userMapper.selectList(userQueryWrapper);
    ...
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/MyBatis/safe/query?user=admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - exists/notExists 中内容不可控</span></h5>
                    <label for="code5"></label><textarea class="form-control" id="code11">
// exists/notExists都是直接将内容拼接至SQL语句中
// 所以防止SQL注入应保证exists/notExists中内容客户端不可控
// 或者将传入的内容的类型固定为非字符串的形式

@RequestMapping("/existsSec")
@ResponseBody
public void test(@RequestParam(name = "size", defaultValue = "0") Integer size){
    //创建条件查询器
    QueryWrapper<Users> userQueryWrapper = new QueryWrapper&lt;&gt;();
    //添加条件查询
    userQueryWrapper.last("limit " + size);
    List<Users> users = userMapper.selectList(userQueryWrapper);
    ...
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/MyBatis/safe/query?user=admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - exists/notExists 中内容不可控</span></h5>
                    <label for="code5"></label><textarea class="form-control" id="code12">
// exists/notExists都是直接将内容拼接至SQL语句中
// 所以防止SQL注入应保证exists/notExists中内容客户端不可控
// 或者将传入的内容的类型固定为非字符串的形式

@RequestMapping("/existsSec")
@ResponseBody
public void test(@RequestParam(name = "size", defaultValue = "0") Integer size){
    //创建条件查询器
    QueryWrapper<Users> userQueryWrapper = new QueryWrapper&lt;&gt;();
    //添加条件查询
    userQueryWrapper.last("limit " + size);
    List<Users> users = userMapper.selectList(userQueryWrapper);
    ...
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/MyBatis/safe/query?user=admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - exists/notExists 中内容不可控</span></h5>
                    <label for="code5"></label><textarea class="form-control" id="code13">
// exists/notExists都是直接将内容拼接至SQL语句中
// 所以防止SQL注入应保证exists/notExists中内容客户端不可控
// 或者将传入的内容的类型固定为非字符串的形式

@RequestMapping("/existsSec")
@ResponseBody
public void test(@RequestParam(name = "size", defaultValue = "0") Integer size){
    //创建条件查询器
    QueryWrapper<Users> userQueryWrapper = new QueryWrapper&lt;&gt;();
    //添加条件查询
    userQueryWrapper.last("limit " + size);
    List<Users> users = userMapper.selectList(userQueryWrapper);
    ...
}
                    </textarea><br><br>

                    <a target="_blank" style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/MyBatis/safe/query?user=admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - exists/notExists 中内容不可控</span></h5>
                    <label for="code5"></label><textarea class="form-control" id="code14">
// exists/notExists都是直接将内容拼接至SQL语句中
// 所以防止SQL注入应保证exists/notExists中内容客户端不可控
// 或者将传入的内容的类型固定为非字符串的形式

@RequestMapping("/existsSec")
@ResponseBody
public void test(@RequestParam(name = "size", defaultValue = "0") Integer size){
    //创建条件查询器
    QueryWrapper<Users> userQueryWrapper = new QueryWrapper&lt;&gt;();
    //添加条件查询
    userQueryWrapper.last("limit " + size);
    List<Users> users = userMapper.selectList(userQueryWrapper);
    ...
}
                    </textarea><br><br>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>