<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='upload.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="vul_header">
                <span>文件操作 - 任意文件上传</span>
                <a class="btn btn-sm btn-primary" target="_blank" href="">漏洞案例</a>
            </div>
            <hr>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#aa"><span class="lnr lnr-bug"></span> 漏洞描述</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bb"><span class="lnr lnr-bullhorn"></span> 安全编码</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane dec shadow-sm p-3 mb-4 rounded active" id="aa">
                    文件上传漏洞，是指用户上传了一个可执行的脚本文件(如jsp\php\asp)，并通过此脚本文件获得了执行服务器端命令的能力。常见场景是web服务器允许用户上传图片或者普通文本文件保存，这种漏洞属于低成本高杀伤力
                </div>
                <div class="tab-pane fade" id="bb">
                    <textarea disabled="disabled" class="form-control shadow-sm p-3 mb-5 rounded" id="coder"
                              style="height: 220px;">
【必须】文件类型限制
 必须在服务器端采用白名单方式对上传或下载的文件类型、大小进行严格的限制。仅允许业务所需文件类型上传，避免上传.jsp、.jspx、.html、.exe等危险文件。

【建议】其他
 对上传的文件回显相对路径或者不显示路径。
 设置目录权限限制，禁止上传目录的执行权限。
 建议使用OSS静态存储服务器来存储用户上传的文件
                    </textarea>
                </div>
            </div>

            <hr>

            <div th:if="${message}">
                <span style="color:red" th:text="${message}"/>
                <hr>
            </div>

            <div class="box-float">
                <div class="float1">
                    <h5><span class="lnr lnr-bug"> 漏洞代码</span></h5><br>
                    <form method="POST" th:action="@{/UPLOAD/uploadVul}" enctype="multipart/form-data">
                        <input type="file" name="file"/>
                        <input type="submit" class="btn btn-sm btn-danger" value="上传"/>
                    </form>
                    <br>

                    <textarea class="form-control" id="code1">
// 允许上传任意文件导致的安全风险

public String singleFileUpload(@RequestParam("file") MultipartFile file,
                                   RedirectAttributes redirectAttributes) throws IOException {
    if (file.isEmpty()) {
        redirectAttributes.addFlashAttribute("message", "请选择要上传的文件");
        return "redirect:upload";
    }

    File dir = new File(UPLOADED_FOLDER);
    if (!dir.exists()) {
        dir.mkdir();
    }

    File filePath = new File(UPLOADED_FOLDER + file.getOriginalFilename());
    log.info("[vul] 上传文件：" + filePath.getPath());
    file.transferTo(filePath);

    return "文件上传路径: " + filePath.getPath();
}
</textarea><br><br>

                    <h5><span class="lnr lnr-bug"> 漏洞代码 - 使用indexOf导致绕过</span></h5><br>
                    <form method="POST" th:action="@{/UPLOAD/uploadVul2}" enctype="multipart/form-data">
                        <input type="file" name="file"/>
                        <input type="submit" class="btn btn-sm btn-danger" value="上传"/>
                    </form>
                    <br>

                    <textarea class="form-control" id="code3">
// indexOf截取文件后缀容易出现安全问题

public String singleFileUpload2(@RequestParam("file") MultipartFile file,
                                   RedirectAttributes redirectAttributes) throws IOException {
    if (file.isEmpty()) {
        redirectAttributes.addFlashAttribute("message", "请选择要上传的文件");
        return "redirect:upload";
    }

    //白名单校验
    String[] extsList = new String[]{".jpg", ".png", ".doc", ".docx"};
    // 获取文件后缀
    String fileName = file.getOriginalFilename();
    String ext = fileName.substring(fileName.indexOf("."));
    boolean flag = true;
    for (String str : extsList) {
        if (ext.contains(str)) {
            flag = false;
        }
    }
    if(flag){return "文件名非法！";}

    File dir = new File(UPLOADED_FOLDER);
    if (!dir.exists()) {
        dir.mkdir();
    }

    File filePath = new File(UPLOADED_FOLDER + fileName);
    log.info("[vul] 上传文件：" + filePath.getPath());
    file.transferTo(filePath);

    return "文件上传路径: " + filePath.getPath();
}
</textarea><br><br>

                    <h5><span class="lnr lnr-bug"> 漏洞代码 - Windows特性绕过</span></h5><br>
                    <form method="POST" th:action="@{/UPLOAD/uploadVul3}" enctype="multipart/form-data">
                        <input type="file" name="file"/>
                        <input type="submit" class="btn btn-sm btn-danger" value="上传"/>
                    </form>
                    <br>

                    <textarea class="form-control" id="code4">
// 由于文件系统特性，Windows中会将文件名中结尾的 ”.” 删除，linux不会

public String singleFileUpload3(@RequestParam("file") MultipartFile file,
                                    RedirectAttributes redirectAttributes) throws IOException {
    if (file.isEmpty()) {
        redirectAttributes.addFlashAttribute("message", "请选择要上传的文件");
        return "redirect:upload";
    }

    //白名单校验
    String[] extsList = new String[]{".jpg", ".png", ".doc", ".docx"};
    // 获取文件后缀
    String fileName = file.getOriginalFilename();
    String ext = fileName.substring(fileName.lastIndexOf("."));
    // 判断后缀是否为空，如果为空则不校验白名单
    if (!ext.isEmpty() && !Arrays.asList(extsList).contains(ext)) {
        return ("上传文件非法！");
    }

    File filePath = new File(UPLOADED_FOLDER + fileName);
    log.info("[vul] 上传文件：" + filePath.getPath());
    file.transferTo(filePath);
    ......
}
</textarea>
                </div>

                <div class="float2">
                    <h5><span class="lnr lnr-smile"> 安全代码 - 白名单</span></h5><br>
                    <form method="POST" th:action="@{/UPLOAD/uploadSafe}" enctype="multipart/form-data">
                        <input type="file" name="file"/>
                        <input type="submit" class="btn btn-sm btn-success" value="上传"/>
                    </form>
                    <br>
                    <textarea class="form-control" id="code2">
// 处理截取问题，对上传文件后缀名做白名单处理

public String singleFileUploadSafe(@RequestParam("file") MultipartFile file,
                                   RedirectAttributes redirectAttributes) throws IOException {
    if (file.isEmpty()) {
        redirectAttributes.addFlashAttribute("message", "请选择要上传的文件");
        return "redirect:upload";
    }

    String filePath = UPLOADED_FOLDER + file.getOriginalFilename();
    if(!checkFile(filePath)){
        return "上传文件非法！";
    }
    ......
    return "文件上传成功！";
}

public boolean checkFile(String file){
    //处理截断问题
    file = file.replaceAll("\\p{C}", "");
    if(file.contains("..")){
        return false;
    }
    //文件后缀白名单校验
    String ext = file.substring(file.lastIndexOf("."),file.length());
    List<String> exts = Arrays.asList(".jpg", ".png", ".jpeg", ".gif");
    return exts.contains(ext);
}
                    </textarea>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>